# Ignore all .db files EXCEPT retail.db
*.db
!retail.db

# Ignore environment and Python files
venv/
__pycache__/
*.pyc

# Ignore environment secrets
.env

# Ignore .sqlite3 files
*.sqlite3

# Ignore OS and editor files
.DS_Store
.vscode/
